
/* Global styles */
*{
      scroll-behavior: smooth;
      margin:0;
      padding:0;
      box-sizing: border-box;
}
body{
      background-color: whitesmoke;
      overflow-x: hidden;
}
.mainPage{
      position: relative;
      width: 100vw;
      min-height: 100vh;
      /* display: none; */
}

/* Styling for left hand side panel */
.leftPanel{
      position: fixed;
      width: 20%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
}
.instaLogo{
      align-self: flex-start;
      width: 100%;
      height: auto;
}
.instaLogo img{
      width: 100%;
      height: 100%;
}


/* Main content in center panel */
.contentPage{
      width: 50%;
      min-height: 100vh;
      margin-right: 30%;
      margin-left: 20%;
      padding: .1rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      /* overflow: hidden; */
}
.stories{
      min-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}
.scrollBtn{
      background-color: whitesmoke;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.leftBtn{
      left:30px;
}
.rightBtn{
      right: 30px;
}
.storyContainer{
      min-width: 100%;
      box-shadow:  0px 0px 1px rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      overflow-x: auto;
      scroll-behavior: smooth;
      /* overflow: hidden; */
}
.storyContainer::-webkit-scrollbar{
      display: none;
}
.story{
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      min-height: 70px;
      /* background-color: #405de6; */
      cursor: pointer;
}
.userPFP{
      min-height: 70px;
      min-width: 70px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
      display: flex;
      justify-content: center;
      align-items: center;
}
.userPFP img{
      height: 63px;
      width: 63px;
      border-radius: 50%;
      border: 3px solid white;
}
.userName{
      margin-top: 2px;
      font-size: 0.8rem;
}
.seen{
      background-image: none;
      background-color: grey;
}




/* Styling for right hand side panel */
.rightPanel{
      position: fixed;
      width: 30%;
      height: 100%;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem;
}
.myDetails{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      /* background-color: white; */
}
.myPFP{
      width: 15%;
      height: 15%;
      border-radius: 50%;
      overflow: hidden;
}
.myPFP img{
      width: 100%;
      height: 100%;
}
.myID{
      font-weight: 600;
}
.switchProfileBtn a{
      text-decoration: none;
      font-weight: 600;
      color: skyblue;
}


/* View page styling */
.viewPage{
      position: absolute;
      top:0;
      left:0;
      /* z-index: 999; */
      background-color: rgba(0, 0, 0, 0.95);
      height: 100vh;
      width: 100vw;
      display: none;
      /* display: flex; */
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
}
.show{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border: 1px solid white;
      border-radius: 20px;
      overflow: hidden;
}
.view1{
      height: 40%;
      width: 10%;
}
.view2{
      height: 55%;
      width: 15%;
}
.view3{
      height: 90%;
      width: 22%;
}
.view4{
      height: 55%;
      width: 15%;
}
.view5{
      height: 40%;
      width: 10%;
}

.content video{
      width: 100%;
      height: 100%;
      /* border: 1px solid white;
      border-radius: 20px; */
}
.closeBtn{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      height: 1rem;
      width: 1rem;
      top:3rem;
      right:3rem;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
}
.Btn{
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
}
.videoControls{
      width: 22%;
      /* background-color: #405de6; */
      padding: .3rem;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      top:8%;
      z-index: 9;
}
.replySection{
      position: absolute;
      /* padding: .3rem; */
      width: 18%;
      height: 7%;
      border: 1px solid white;
      border-radius: 9999px;
      bottom: 10%;
}
.replySection input{
      height: 100%;
      width: 100%;
      padding: .3rem;
      border-radius: 9999px;
      border: 0 !important;
      outline: 0 !important;
      background-color: transparent;
      color: black;
}
.replySection input:focus{
      background-color: white;
}