$primary-color: #405de6;
$secondary-color: whitesmoke;
$black-color: black;
$border-radius: 50%;
$box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
$viewPage-bg: rgba(0,0,0,0.9);
$color1:#5851db;
$color2:#833ab4;
$color3:#c13584;
$color4:#e1306c;
$color5:#fd1d1d;